<div class="footer">
	<hr class="thin" />
	<div class="pure-menu pure-menu-horizontal pure-menu-open">
		<ul class="footer-menu">
		{{ range .Site.Menus.footer }}
			<li><a href="{{.Url}}">{{ .Name }}</a></li>
		{{ end }}
		</ul>
	</div>

	<p>{{ with .Site.Params.Copyright }}{{.}}{{ else }} Copyright <a href="https://twitter.com/YesMeansYes">Dylan Carlson</a><br /> <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons license (CC BY-SA 4.0)</a> {{end}}</p>
</div>