{{ partial "doctype.html" . }}
<head>
  <title>
    {{ .Title }}{{ if ne .Title .Site.Title }} // {{ .Site.Title }}{{ end }}
  </title>

  <!-- Mobile responsive headers -->
  {{ partial "meta.html" . }}

  <!-- OpenGraph tag template, for distribution -->
  {{ partial "og.html" . }}

  <!-- Favicons --> 
  {{ partial "favicon.html" . }}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}js/pure/0.5.0/base-min.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}js/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}js/pure/0.5.0/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}css/redlounge.css">

  <!-- Fonts -->
  <link href="{{ .Site.BaseUrl }}js/font-awesome-4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ .Site.BaseUrl }}css/fonts.css" rel="stylesheet">
  <!--<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Vollkorn:400' rel='stylesheet' type='text/css'>  
  <link href='//fonts.googleapis.com/css?family=Nobile:400' rel='stylesheet' type='text/css'>-->

  <!-- RSS -->
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <!-- Syntax Highlighting / highlight.js -->
  {{ partial "syntaxhighlight.html" . }}

  <!-- Image lightboxing -->
  {{ if .Params.lightbox }}
  <script src="{{ .Site.BaseUrl }}js/jquery-1.11.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}css/lightbox.css">
  <script src="{{ .Site.BaseUrl }}js/lightbox.min.js"></script>
  {{ end }}

  {{ if .Site.Params.categoriescss }}
    <link rel="stylesheet" type="text/css" href="{{ .Site.Params.categoriescss }}">
  {{ end }}

  <!-- Google Analytics and whatever other scripts -->
  {{ partial "headend.html" . }}
</head>
